@page "/go/{ProfileUri}";

@layout OuterLayout

<div>
    <LandingPageContent Profile="TestConstants.TestMentor" Offering="TestConstants.TestOffering" />
</div>

@code {
    [Parameter]
    public string ProfileUri { get; set; }
}
