@inherits LayoutComponentBase
@layout NavMenuLayout

@using MasterCraft.Client.Mentors.Components
@using MasterCraft.Client.Common.Services
@using System.Security.Claims;

@inject NavigationManager Navigation
@inject StripeService Stripe

<AuthorizeView>
    <Authorized>
        <div class="mc-title">
            <h3>Create your MasterCraft account</h3>
            <hr />
        </div>
        <ProgressTracker @ref="progressTracker" Items="items"/>
        <div class="entry-form">
            <CascadingValue Value="this">
                @Body
            </CascadingValue>
        </div>
        
    </Authorized>
</AuthorizeView>

<style>
    .mc-progress-tracker {
        width: 490px;
    }

    .bottom-btn {
        margin:auto;
        margin-top: 30px;
    }

    .entry-form{
        margin: auto;
        margin-top: 30px;
    }
</style>

@code {
    
    private ProgressTracker progressTracker;
    private List<ProgressTrackerItem> items;

    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        string username = (await AuthState).User.FindFirst(ClaimTypes.Name).Value;

        items = new List<ProgressTrackerItem>()
        {
            new ProgressTrackerItem()
            {
                Label = "Profile",
                OnClick = () => Navigation.NavigateTo("/setup/profile")
            },
            new ProgressTrackerItem()
            {
                Label = "Payments",
                OnClick = async () => await Stripe.RedirectToVendorOnboarding(username, "setup/offering")
            },
            new ProgressTrackerItem()
            {
                Label = "Offering",
                OnClick = () => Navigation.NavigateTo("/setup/offering")
            },
            new ProgressTrackerItem()
            {
                Label = "Video",
                OnClick = () => Navigation.NavigateTo("/setup/video")
            },
            new ProgressTrackerItem()
            {
                Label = "Review",
                OnClick = () => Navigation.NavigateTo("/setup/review")
            }
        };

    }

    public void UpdateProgressTracker(int itemNumber)
    {
        progressTracker.UpdateProgressTracker(itemNumber);
    }
}
