@inherits LayoutComponentBase
@layout NavMenuLayout

@using MasterCraft.Client.Mentors.Components
@using MasterCraft.Client.Common.Services
@using System.Security.Claims;

@inject NavigationManager Navigation
@inject StripeService Stripe

<AuthorizeView>
    <Authorized>
@*        <div class="mc-title">
            <h3>Create your MasterCraft account</h3>
            <hr />
        </div>*@
        <ProgressTracker @ref="progressTracker" Items="items"/>
        <div class="entry-form">
            <CascadingValue Value="this">
                @Body
            </CascadingValue>
        </div>
        
    </Authorized>
</AuthorizeView>

<style>
    .bottom-btn {
        margin:auto;
        margin-top: 30px;
    }

    .entry-form{
        margin: auto;
        margin-top: 30px;
    }
</style>

@code {

    private ProgressTracker progressTracker;
    private List<ProgressTrackerItem> items;

    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        await InitializeProgressTracker();
    }

    public void UpdateProgressTracker(int itemNumber)
    {
        progressTracker.UpdateProgressTracker(itemNumber);
    }

    private async Task InitializeProgressTracker()
    {
        string userId = (await AuthState).User.FindFirst(ClaimTypes.NameIdentifier).Value;
        items = new List<ProgressTrackerItem>()
        {
            new ProgressTrackerItem()
            {
                Label = "Offering",
                OnClick = () => Navigation.NavigateTo("/setup/profile")
            },
            new ProgressTrackerItem()
            {
                Label = "Payments",
                OnClick = async () => await Stripe.RedirectToVendorOnboarding(userId, "setup/profile", "setup/complete")
            },
            new ProgressTrackerItem()
            {
                Label = "Complete",
                OnClick = () => Navigation.NavigateTo("/setup/profile")
            },
        };
    }
}
