@using Syncfusion.Blazor.Spinner
@typeparam TRequest
@typeparam TResponse


<EditForm Model="@Request">
    <div class="mc-edit-form">
        @if (showSpinner)
        {
            <SfSpinner Size="80" Type="SpinnerType.Fabric" Visible="true"></SfSpinner>
        }
        else
        {

            @if (!string.IsNullOrEmpty(FormTitle))
            {
                <h3>@FormTitle</h3>
            }
            <DataAnnotationsValidator />
            <CustomValidation @ref="customValidation" />

            @if (cShowValidationSummary)
            {
                <ValidationSummary />
            }

            <div class="mc-input-group">
                @ChildContent
            </div>

            <SfButton HtmlAttributes=@SubmitAttribute Content="@ButtonText" CssClass="mc-btn mc-btn-gray" OnClick="OnSubmitClick" />
        }
    </div>
</EditForm>

<style>
    .mc-edit-form {
        width: 500px;
    }

    .mc-input-group {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .mc-edit-form > .e-btn {
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }
</style>

