@using Microsoft.AspNetCore.Components.Authorization
@using MasterCraft.Client.Common.Components 

@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <a href="/profile">Hello, @context.User.Identity.Name!</a>
        <McButton Caption="Log out" CssClass="mc-btn-black" OnClick="Logout" />
    </Authorized>
    <NotAuthorized>
        <McButton Caption="Sign up" CssClass="mc-btn-black" OnClick="GoToSignUp" />
        <McButton Caption="Log in" CssClass="mc-btn-green" OnClick="GoToLogin" />
    </NotAuthorized>
</AuthorizeView>

@code{
    private void Logout(MouseEventArgs args)
    {
        Navigation.NavigateTo("/logout");
    }

    private void GoToSignUp(MouseEventArgs args)
    {
        Navigation.NavigateTo("/register");
    }

    private void GoToLogin(MouseEventArgs args)
    {
        Navigation.NavigateTo("/login");
    }
}
