@using Syncfusion.Blazor.Navigations

<SfToolbar CssClass="mc-navbar">
    <ToolbarItems>
        <ToolbarItem>
            <Template>
                <div>
                    <a href="/"><img src="images/MastercraftLogoFull.png" alt="Home" style="height:30px; vertical-align:middle;"></a>
                </div>
            </Template>
        </ToolbarItem>
        <ToolbarItem Align="ItemAlign.Right">
            <Template>
                <div class="mc-login-display">
                    <LoginDisplay />
                </div>
            </Template>
        </ToolbarItem>
    </ToolbarItems>
</SfToolbar>

<style>
    .mc-navbar {
        height: 60px !important;
        border-bottom-color: #be0000;
        border-bottom-width: 5px;
    }

    .e-toolbar .e-toolbar-items {
        background-color: white !important;
    } 

    .mc-login-display{
        vertical-align: middle
    }
</style>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
