@inherits LayoutComponentBase
@layout NavMenuLayout

@using MasterCraft.Client.Common.Services
@using System.Security.Claims;
@using MasterCraft.Client.Components

@inject NavigationManager Navigation
@inject StripeService Stripe

<AuthorizeView>
    <Authorized>
@*        <div class="mc-title">
            <h3>Create your MasterCraft account</h3>
            <hr />
        </div>*@
        <ProgressTracker @ref="progressTracker" Items="items"/>
        <div class="entry-form">
            <CascadingValue Value="this">
                @Body
            </CascadingValue>
        </div>
        
    </Authorized>
</AuthorizeView>

<style>
    .bottom-btn {
        margin:auto;
        margin-top: 30px;
    }

    .entry-form{
        margin: auto;
        margin-top: 30px;
    }
</style>
