@page "/login"
@inject IAuthenticationService AuthService
@inject NavigationManager NavManager
@using MasterCraft.Core.CommandModels;
@using MasterCraft.Core.ReportModels;

<EditForm Model="request" OnValidSubmit="OnLoginClick">
    <div class="mc-edit-form">
        <h3>Log In</h3>
        <div class="mc-input-group">
            <div>
                <SfTextBox Type="InputType.Email" CssClass="mc-input" Placeholder="Email" @bind-Value="request.Username" />
                <ValidationMessage For="@(() => request.Username)" />
            </div>
            <div>
                <SfTextBox Type="InputType.Password" CssClass="mc-input" Placeholder="Password" @bind-Value="request.Password" />
                <ValidationMessage For="@(() => request.Password)" />
            </div>
        </div>
        <SfButton CssClass="mc-btn-red" @onclick="OnLoginClick">Log in</SfButton>
    </div>
</EditForm>

<style>
    .mc-edit-form {
        width: 200px;
    }

    .mc-input-group {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .mc-edit-form > .e-btn {
        margin: auto;
        margin-top: 30px;
    }
</style>

@code {
    private GenerateTokenCommandModel request = new();
    private bool showAuthenticationError = false;
    private string authenticationErrorText = "";

    private async Task OnLoginClick()
    {
        showAuthenticationError = false;

        AccessTokenReportModel result = await AuthService.Login(request);

        if (result is not null)
        {
            NavManager.NavigateTo("/portal");
        }
        else
        {
            authenticationErrorText = "Error trying to log in";
            showAuthenticationError = true;
        }
    }
}
