@inherits LayoutComponentBase
@layout NavMenuLayout

@using MasterCraft.Client.Mentors.Components
@using MasterCraft.Client.Common.Services
@using System.Security.Claims;
@using MasterCraft.Client.Common.StateManagers;
@using MasterCraft.Client.Common.Api;
@using MasterCraft.Shared.ViewModels.Aggregates;

@inject NavigationManager Navigation
@inject StripeService Stripe
@inject ApiClient Api
@inject SubmitStateManager SubmitState

<AuthorizeView>
    <Authorized>
        @if ((progressTracker?.GetCurrentItem() ?? 0) != 3)
        {
            <div id="header">
                <img class="profile-image" src="@MentorUser.ProfileImageUrl"/>
                <div class="mc-title">
                    <h4>@GetTitleLine()</h4>
                    <hr />
                </div>
            </div>
        }

        <ProgressTracker @ref="progressTracker" Items="items"/>
        <div class="entry-form">
            <CascadingValue Value="this">
                @Body
            </CascadingValue>
        </div>
    </Authorized>
</AuthorizeView>

<style>
    .bottom-btn {
        margin:auto;
        margin-top: 30px;
    }

    .entry-form{
        margin: auto;
        margin-top: 30px;
    }

    #header {
        display: flex;
        flex-direction: row;
    }

    .profile-image {
        width: 100px;
        height: 100px;
    }
</style>

@code {

    private ProgressTracker progressTracker;
    private List<ProgressTrackerItem> items;

    public MentorUserVm MentorUser => SubmitState.MentorProfile.MentorUser;
    public OfferingVm Offering => SubmitState.MentorProfile.Offerings.FirstOrDefault();
    public FeedbackRequestVm FeedbackRequest => SubmitState.FeedbackRequest;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        items = new List<ProgressTrackerItem>()
        {
            new ProgressTrackerItem()
            {
                Label = "Share work",
                OnClick = () => Navigation.NavigateTo($"go/{MentorUser.ProfileId}/share")
            },
            new ProgressTrackerItem()
            {
                Label = "Ask question",
                OnClick = () => Navigation.NavigateTo($"go/{MentorUser.ProfileId}/ask")
            },
            new ProgressTrackerItem()
            {
                Label = "Checkout",
                OnClick = async () => await Stripe.RedirectToCheckout(MentorUser.StripeAccountId,
                    $"go/{MentorUser.ProfileId}/ask", 
                    $"go/{MentorUser.ProfileId}/complete",
                    FeedbackRequest,
                    Offering)
            }
        };

    }

    public void UpdateProgressTracker(int itemNumber)
    {
        progressTracker.UpdateProgressTracker(itemNumber);
    }

    private string GetTitleLine()
    {
        return $"Submit your work to {MentorUser.FirstName}";
    }
}

