@using Syncfusion.Blazor.Navigations



<div class="navbar">
    <div id="logo">
        <a href="/"><img src="images/mastercraftlogocroppedsmall.png" alt="Home" style="height:35px; vertical-align:middle;"></a>
    </div>
    <div id="login-display">
    <LoginDisplay />
    </div>
</div>

<style>
    .navbar {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: 60px !important;
        border-bottom-color: @Colors.McGreen;
        border-bottom-width: 1px;
    }

    #logo {
        grid-column: 2;
        display: inline-block;
        margin: auto;
    }

    #login-display{
        grid-column: 3;
        margin-left: auto;
        vertical-align: middle;
    }
</style>

