@page "/"

<br />
<br />
<div class="container">
    <h1>Welcome to MasterCraft</h1>
    <br />
    <SfButton CssClass="mc-btn mc-btn-green" OnClick="GoToSignUp">@Properties.Resources.SignUp</SfButton>
    <div id="test-buttons">
        <SfButton OnClick="ProcessException">Create Handled Error</SfButton>
        <br />
        <SfButton OnClick="ThrowException">Create Unhandled Error</SfButton>
    </div>
</div>

<style>
    .container > .e-btn {
        display: block;
        margin: auto;
    }

    .container > iframe {
        display: block;
        margin: auto;
    }

    .container {
        margin: auto;
        width: 700px;
    }

    #test-buttons{
        display: flex;
        flex-direction: row;
        padding: 30px;
        justify-content: space-around;
        margin: auto;
        width: 400px;
    }
</style>