@page "/go/{ProfileId}/share"
@layout SubmitLayout

<SubmissionForm TRequest=FeedbackRequestVm TResponse=EmptyVm Request="@FeedbackRequest" OnValidSubmit="OnSubmitClick" ButtonText="Next">
    <ChildContent>
        <div>
            <SfTextBox Type="InputType.Text" Multiline="true" CssClass="mc-input" Placeholder="Video embed code" @bind-Value="FeedbackRequest.VideoEmbedCode" />
        </div>
    </ChildContent>
</SubmissionForm>
