<div>
    <h5>Set up your profile</h5>
    <SfTextBox Type="InputType.Text" CssClass="mc-input" Placeholder="Channel name" @bind-Value="Profile.ChannelName" />
    <ValidationMessage For="@(() => Profile.ChannelName)" />
</div>
<div>
    <SfTextBox Type="InputType.Text" CssClass="mc-input" Placeholder="Channel link" @bind-Value="Profile.ChannelLink" />
    <ValidationMessage For="@(() => Profile.ChannelLink)" />
</div>
<div>
    <SfTextBox Type="InputType.Text" CssClass="mc-input" Placeholder="Personal title" @bind-Value="Profile.PersonalTitle" />
    <ValidationMessage For="@(() => Profile.PersonalTitle)" />
</div>
<div>
    <br />
    <h5>Choose a profile ID</h5>
    <h6>This ID will appear in the URL for your landing page<br />(E.G. www.mastercraft.cc/john-doe)</h6>
    <SfTextBox Type="InputType.Text" CssClass="mc-input" Placeholder="Custom profile ID" @bind-Value="Profile.ProfileCustomUri" />
    <ValidationMessage For="@(() => Profile.ProfileCustomUri)" />
</div>
<div>
    <br />
    <h5>Upload a profile image</h5>
    <SfUploader></SfUploader>
</div>


@code {
    [Parameter]
    public MentorVm Profile { get; set; }
}
